<div class="container">
<div class="card">
Binding Agreement
This JobStreet.com Website is provided to you for your use subject to these Terms. These Terms form a binding agreement between you and JobStreet.com. By accessing or using the JobStreet.com Website you agree to accept and/or to be bound by these Terms. you agree to use the JobStreet.com Website at your own risk.

In the case of any conflict between these Terms and any contract you have with JobStreet.com, these Terms will take precedent.

We may update these Terms from time to time for legal or regulatory reasons or to allow the proper operation of the JobStreet.com Website. Any changes will be notified to you via the e-mail address provided by you on registration or via a suitable announcement on the JobStreet.com Website. The changes will apply to the use of the JobStreet.com Website after we have given you notice. If you do not wish to accept the new Terms you should not continue to use the JobStreet.com Website. If you continue to use the JobStreet.com Website after the date on which the change comes into effect, your use of the JobStreet.com Website indicates your agreement to be bound by the new Terms.

Definitions
“Advertiser” means a person or entity that is contracting to post advertisements on any of the JobStreet.com Website.

“Design” includes the color combinations and the page layout of the JobStreet.com Website.

“Employer” or “Employers” means a person or entity that is accessing a JobStreet.com Website to post a job or utilizing the JobStreet.com Services for any reason related to the purpose of seeking candidates for employment.

“Employer Materials” includes any brochures, emails, job postings, web site content, career fair material, audio, videos, photographs, logos, trademarks, service marks, domain names, documents or other materials provided by Employer, if any, for use in connection with the JobStreet.com Services.

“Graphics” includes all logos, button icons, and other graphical elements on the JobStreet.com Website, with the exception of paid advertising banners.

“Candidate” or “Candidates” means a User who is accessing a JobStreet.com Website to search for a job or in any other capacity except as an Employer.

“Company Profiles” means profile created by Employers.

“JobStreet.com” means JobStreet.com Pte Ltd or the company operating the JobStreet.com Website for the country in which you live or in which business is headquartered.

“JobStreet.com Content” includes all Text, Graphics, Design, Programming, information, images, video, audio files, software and other contents used on the JobStreet.com Website.

“JobStreet.com Database” or “JobStreet.com Databases” includes all job advertisement posted on JobStreet.com Websites and/or all candidates and/or employers’ information registered with JobStreet.com.

“JobStreet.com Profile” or “JobStreet.com Profiles” means the profile created by Candidates that may include personal information, resume and photo.

“JobStreet.com Resume Database” or “Resume Database” means the candidates JobStreet.com Profiles and resume created and/or uploaded into JobStreet.com databases.

“JobStreet.com Services” means any services provided by JobStreet.com or its agents including:-

the provision of online job site, including posting and searching for employment opportunities, and creating JobStreet.com Profiles and Company Profiles which may include personal information;

the provision of talent sourcing services;

the provision of online resume search access;

matching of job specifications with potential candidate JobStreet.com Profiles and advising Users and/or Candidates of the positions available;

providing Employers with access to SiVA recruitment management system by registering a SiVA Account with JobStreet.com;

providing Advertisers and/or Employers with other ancillary talent sourcing and advertising services including banners, electronic direct mail system, design and posting support services; and

providing Advertisers and/or Employers services to advertise on JobStreet.com Website.

“JobStreet.com Website” means any website under JobStreet.com’s control, including:

http://www.JobStreet.com,

http://www.JobStreet.com.my,

http://www.JobStreet.com.sg,

http://www.JobStreet.com.ph,

http://www.JobStreet.co.id,

http://www.JobStreet.vn, and

JobStreet.com Mobile Applications.

“Profiles” means individual profiles created by Users and/or Candidates or company profiles created by Employers.

“Programming” includes both client-side code (HTML, JavaScript, etc.) and server-side code (Active Server Pages, VBScript, databases, etc.) used on the JobStreet.com Website.

“SiVA Account” means the account authenticated by username and password, to access the SiVA recruitment management system.

“SiVA Account Holder” refers to any User who has paid and/or registered for a SiVA Account with JobStreet.com and/or has access to JobStreet.com Resume Database for the sole purpose of seeking candidates for employment.

“Text” includes all text on every page of the JobStreet.com Website, whether editorial, navigational, or instructional.

“User” refers to any individual or entity that uses any aspect of the JobStreet.com Website and/or JobStreet.com Services.

“User Content” means all information, data, text, software, music, sound, photographs, graphics, video, advertisements, messages or other materials submitted, posted or displayed by Users on or through JobStreet.com Website.

“You” or “you” means the person who (or the entity on behalf of whom you are acting) that is agreeing to these Terms.

Registration
To register on the JobStreet.com Website you must be 15 years of age or above.

You must ensure that the details provided by you on registration or at any time are correct and complete.

You must inform us immediately of any changes to the information that you provided when registering by updating your personal details in order that we can communicate with you effectively.

Password and security
When you register to use the JobStreet.com Website you will be asked to create a password. In order to prevent fraud, you must keep this password confidential and must not disclose it or share it with anyone. If you know or suspect that someone else knows your password you should notify us by contacting us here immediately.

If JobStreet.com has reason to believe that there is likely to be a breach of security or misuse of the JobStreet.com Website, we may require you to change your password or we may suspend your account.

As a result of your loss of your Password or the misuse of the JobStreet.com Website:

all losses or damage incurred thereby shall be borne by you; and

you shall fully indemnify JobStreet.com should JobStreet.com suffer any loss or damage.

Intellectual Property
JobStreet.com Website, JobStreet.com Content, and all right, title and interest in and to JobStreet.com Website and JobStreet.com Content are the exclusive property of JobStreet.com or its licensors.

JobStreet.com Website and JobStreet.com Content are protected by copyright, trade mark, database right and other intellectual property rights.

You may retrieve and display JobStreet.com. Content of the JobStreet.com Website on a computer screen, store such content in electronic form on disk (but not any server or other storage device connected to a network) or print one copy of such content for your own personal, non-commercial use, provided you keep intact all and any copyright and proprietary notices. You may not otherwise reproduce, modify, copy or distribute or use for commercial purposes any of the materials or JobStreet.com Content on the JobStreet.com Website without written permission from JobStreet.com.

Availability of the JobStreet.com Website
Although we aim to offer you the best service possible, we make no promise that the services at the JobStreet.com Website will meet your requirements.

We cannot guarantee that the JobStreet.com Website will be fault-free, error-free, or that JobStreet.com Website and servers are free of viruses or other harmful mechanisms. If a fault occurs with the JobStreet.com Website you should report it here and we will attempt to correct the fault as soon as we can.

Your access to the JobStreet.com Website may be occasionally restricted to allow for repairs, maintenance or the introduction of new content, facilities or services. We will attempt to restore access and/or service as soon as we reasonably can.

Your use of the JobStreet.com Website
JobStreet.com hereby grants you a limited, terminable, non-exclusive right to access and use JobStreet.com Website only for your personal use and/or employment purposes.

You may not use the JobStreet.com Website for any of the following purposes:-

disseminating any unlawful, harassing, libelous, abusive, threatening, harmful, vulgar, obscene, or otherwise objectionable material or otherwise breaching any laws;

aggregating, copying or duplicating in any manner any of the JobStreet.com Content or information available from any JobStreet.com Website, including expired job postings;

reproducing any of the JobStreet.com Content for general use;

link to any JobStreet.com Content or information available from any JobStreet.com Website;

transmitting material that encourages conduct that constitutes a criminal offence, or otherwise breaches any applicable laws, regulations or code of practice;

interfering with any other person’s use or enjoyment of the JobStreet.com Website; or

making, transmitting or storing electronic copies of materials protected by copyright without the permission of the owner.

You agree not to resell or assign your rights or obligations under these Terms. You also agree not to make any unauthorized commercial use of any JobStreet.com Website.

Your use of the JobStreet.com Services
The JobStreet.com Services may be used only by:

individuals seeking employment, and career and career-related information, such as education and voluntary services;

Employers or their agents seeking candidates for employment purposes; and

Advertisers.

Your use of the JobStreet.com Services is also subject to any other contracts you may have with JobStreet.com. In the case of any conflict between these Terms and any contract you have with JobStreet.com, these Terms will prevail.

All Users agree to not:-

transmit, post, distribute, store or destroy material, including without limitation JobStreet.com Content, in violation of any applicable law or regulation, including but not limited to laws or regulations governing the collection, processing, or transfer of personal information, or in breach of JobStreet.com’s Privacy Policy;

violate or attempt to violate the security of any JobStreet.com Website;

reverse engineer or decompile any parts of any JobStreet.com Website;

aggregate, copy or duplicate in any matter any of the JobStreet.com Content or information available from any JobStreet.com Website, including expired job postings, other than as permitted by these Terms;

post any content or material that facilitates, promotes or endorses scams, false or misleading information or illegal activities, OR endorses or provides instructional information about illegal activities or other activities prohibited by these Terms, such as making or buying illegal weapons, violating someone’s privacy, providing or creating computer viruses or pirating media, OR promotes or endorses any political views;

post any profile, resume or apply for any job on behalf of another party;

share with a third party any login credentials to any JobStreet.com Website;

access data not intended for you or logging into a server or account which you are not authorized to access;

post or submit to any JobStreet.com Website any inaccurate, incomplete, misleading, false, not up to date biographical information or information which is not your own;

post content that contains restricted or password-only access pages, or hidden pages or images;

solicit passwords or personally identifiable information from other Users;

delete or alter any material posted by any other person or entity;

harass, incite harassment or advocate harassment of any group, company or individual;

send unsolicited mail or email, make unsolicited phone calls or send unsolicited faxes promoting and/or advertising products or services to any User, or contact any users that have specifically requested not to be contacted by you;

attempt to interfere with service to any User, host or network, including, without limitation, via means of submitting a virus to any JobStreet.com Website, overloading, “flooding”, “spamming”, “mailbombing”, or “crashing”.

use the JobStreet.com Services for any unlawful purpose or illegal activity, or post or submit any content, profile,  resume, or job posting that is defamatory, libelous, implicitly or explicitly offensive, vulgar, obscene, threatening, harassing, abusive, hateful, racist, discriminatory, of a menacing character or likely to cause annoyance, inconvenience, embarrassment, anxiety or could cause harassment to any person or include any links to pornographic, indecent or sexually explicit material of any kind, as determined by JobStreet.com’s discretion; or

post any profile or resume which is not a genuine profile or resume and which attempts to advertise or promote products or services.

Violations of network security may result in civil and/or criminal liability. JobStreet.com will investigate occurrences which may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting Users who are involved in such violations.

Additional Terms applicable to Employers
JobStreet.com hereby grants you a limited, terminable, non-exclusive right to access and use JobStreet.com Website for your internal business use seeking candidates for employment. This authorizes you to view and download a single copy of JobStreet.com Content or materials on JobStreet.com Website solely for your use directly related to searching for and recruiting Candidates.

JobStreet.com also grants you a limited, terminable, non-exclusive right to use JobStreet.com Services for your internal use only.

You are responsible for maintaining the confidentiality of your Employer account, Company Profiles and passwords, as applicable.

You may not share your password or other account access information with any other party, temporarily or permanently, and you shall be strictly liable and/or responsible for all uses of your JobStreet.com Website registrations and passwords, whether or not authorized by you.

You agree to immediately notify JobStreet.com of any unauthorized use of your employer account, Company Profiles or passwords.

Employer represents, warrants and covenants that any Employer Materials provided by Employer for use in connection with JobStreet.com Services will not violate any laws or regulations or third-party proprietary rights, including, without limitation, copyright, trade mark, obscenity, rights or publicity or privacy, and defamation laws.

Employers acknowledge and agree that it shall disregard any personal data received from the Candidate which are irrelevant to obtaining and assessing the suitability of candidates.

Employers are solely responsible for the Employer Materials on JobStreet.com Website. JobStreet.com is not to be considered to be an employer with respect to your use of any JobStreet.com Website and JobStreet.com shall not be responsible for any employment decisions, for whatever reasons, made by any entity posting jobs on any JobStreet.com Website.

Employer Materials may not contain:-

misleading, unreadable, or “hidden” keywords, repeated keywords or keywords that are irrelevant to the job opportunity being presented;

names, logos or trademarks of unaffiliated companies;

inaccurate, false, or misleading information; and

material or links to material that is discriminatory, sexually explicit, obscene, libelous, defamatory, threatening, harassing, abusive, or hateful, or solicits personal information from anyone under 18.

You may not use your Employer Materials to:-

post jobs in a manner that does not comply with applicable local, national laws, including but not limited to laws relating to labor and employment, equal employment opportunity and employment eligibility requirements, data privacy, data access and use, and intellectual property;

sell, promote or advertise products or services;

post any franchise, pyramid scheme, distributorship, or multi-level marketing opportunity;

advertise home-based and/or internet-based employment. (e.g. work at home jobs, part time jobs, freelance typist or job/business offers with similar operating mechanism);

promote any opportunity that does not represent bona fide employment; and

advertise sexual services or seek employees for jobs of a sexual nature.

JobStreet.com does not encourage any Employer Materials on JobStreet.com Website that request Candidates to pay deposits, placement fees, processing fees or any other similar fees, directly or indirectly, and/or require Candidates to make purchases.

JobStreet.com does not allow job advertisements that advertise more than 1 job position in each job posting.

JobStreet.com is under no obligation to monitor the Employer Materials on JobStreet.com Website, but JobStreet.com may monitor the Employer Materials at random.

JobStreet.com reserves the right to remove any Employer Materials or content from any JobStreet.com Website, which in the reasonable exercise of JobStreet.com’s discretion, does not comply with this Section, or if any content is posted that JobStreet.com believes is not in the best interest of JobStreet.com.

Reposting of the same position is allowed 14 days after the job posting date to minimize resending to same users in a short time period and duplication of job advertisements on JobStreet.com Websites.

If any time during your use of the JobStreet.com Services, you made a misrepresentation of fact to JobStreet.com or otherwise misled JobStreet.com in regards to the nature of your business activities or breach of the Terms herein, JobStreet.com may terminate your use of the JobStreet.com Services and in such event, any payment made by you shall be forfeited.

You understand and acknowledge that if you cancel your Employer account or your Employer account is terminated, all your account information from JobStreet.com, including saved JobStreet.com Profiles and resumes, network contacts, and email mailing lists, will be marked as deleted in and may be deleted from JobStreet.com Databases. Information may continue to be available for some period of time because of delays in propagating such deletion through JobStreet.com’s web servers.

Additional Terms applicable to SiVA Account Holder
If you are registering for and/or paying for a SiVA Account to, inter alia, access the JobStreet.com Resume Database, this Section applies to you.

You must be 18 years of age or above.

You shall use the JobStreet.com Resume Database as provided in these Terms, in any contract you have with JobStreet.com, and in compliance with all laws including laws governing personal data.

JobStreet.com grants you a limited, personal, terminable, non-transferable, non-exclusive right to access JobStreet.com Resume Database via JobStreet.com Website for the purpose of viewing and/or downloading a single copy of available JobStreet.com Profiles and resumes solely for your use subject to the provisions of this Section.

JobStreet.com Resume Database is to be accessed and used solely by you. You will be provided with a unique password that will permit you to access the Resume Database.

You shall not share your SiVA Account with any other party.

You agree that you shall not disclose any of the data from JobStreet.com Resume Database to any third party, unless you are an authorized recruitment agency, or staffing agency or using JobStreet.com Profiles and resume explicitly for employment purposes.

You shall take appropriate physical, technical, and administrative measures to protect the data you have obtained from JobStreet.com Resume Database from loss, misuse, unauthorized access, disclosure alteration or destruction.

The JobStreet.com Resume Database shall not be used:-

for any purpose other than as an employer and/or on behalf of an employer seeking employees; or

to make unsolicited phone calls or faxes or send unsolicited mail, email, or newsletter to JobStreet.com Profile or resume holders or to contact any individual unless they have agreed to be contacted.

The data obtained from the JobStreet.com Resume Database shall not be kept longer than is necessary for the fulfillment of the purposes set out in this Section. In this respect, you agree and undertake to delete, destroy and/or purge such data from your records.

You may not use JobStreet.com Resume Database in any way which, in JobStreet.com’s sole judgment, adversely affects JobStreet.com’s business, business prospects, the performance or function of any of JobStreet.com Website or JobStreet.com Resume Database, or interferes with the ability, of other subscribers to access the Resume Database.

In order to ensure a safe and effective experience for all of our customers, JobStreet.com reserves the right to limit the amount of data (including JobStreet.com Profile and resume views) that may be accessed by or provided to you in any given time period. These limits may be amended in JobStreet.com’s sole discretion from time to time.

You may use your subscription to JobStreet.com Resume Database only for seeking candidates for employment. You are specifically prohibited from using information contained in JobStreet.com Resume Database to sell or promote any products or services or to take any other action that is, in JobStreet.com’s sole judgment, inconsistent with these Terms, misleading or incomplete, or in violation of any laws or regulations.

JobStreet.com may terminate, suspend, update, alter or supplement, at its sole discretion, all or any part of JobStreet.com Resume Database at any time. By permitting access to JobStreet.com Resume Database, JobStreet.com does not convey any interest in or to the Resume Database or any other JobStreet.com property or Services. All right, interest in and to the Resume Database is and shall remain in JobStreet.com.

Additional Terms applicable to Candidates
JobStreet.com hereby grants you a limited, terminable, non-exclusive right to access and use JobStreet.com Website only for your personal use seeking employment opportunities for yourself. This authorizes you to view and download a single copy of the JobStreet.com Content or material on JobStreet.com Website solely for your personal, non-commercial use.

When you register with any JobStreet.com Website, you will be asked to create an account and provide JobStreet.com with certain information including a valid email address.

Any JobStreet.com Profile you submit must be accurate, complete, up to date and not misleading. The JobStreet.com Profile requires standard fields to be completed by you. You may not impersonate another person, living or dead.

You acknowledge and agree that you are solely responsible for the form, content and accuracy of any JobStreet.com Profile and resume or material contained therein placed by you on the JobStreet.com Website.

You acknowledge and agree that you are solely responsible for any consequences arising from such posting.

JobStreet.com reserves the right to offer third party services and products to you based on the preferences that you identify in your registration and at any time thereafter or you have agreed to receive, such offers may be made by JobStreet.com or by third parties.

Please see JobStreet.com’s Privacy Policy, for further details regarding your information. Please note, as set forth in the JobStreet.com’s Privacy Policy, that JobStreet.com may collect certain User information and may contact Users periodically in accordance with the terms of the Privacy Policy. In addition, JobStreet.com reserves the right to comply, in its sole discretion, with legal requirements, requests from law enforcement agencies or requests from government entities, even to the extent that such compliance may require disclosure of certain User information. In addition, third parties may retain cached copies of User information.

You understand and acknowledge that all information provided by you, your JobStreet.com Profile, resume, and/or account information shall be disclosed to prospective Employers.

You understand and acknowledge that you have no ownership rights in your account and that if you cancel your JobStreet.com account or your JobStreet.com Account is terminated, all your account information from JobStreet.com, including JobStreet.com Profile, resumes, cover letters, saved jobs, will be marked as deleted in and may be deleted from JobStreet.com Databases and will be removed from any public area of the JobStreet.com Website. Information may continue to be available for some period of time because of delays in propagating such deletion through JobStreet.com’s web servers. In addition, third parties may retain saved copies of your information.

JobStreet.com reserves the right to delete your account and all of your information after a significant duration of inactivity.

User Content and submissions
You understand that all User Content is the sole responsibility of the person from which such User Content originated.

You understand and acknowledge that all information provided by you, your JobStreet.com Profile, resume, and/or account information shall be stored in JobStreet.com Databases and/or JobStreet.com Resume Databases.

You understand, acknowledge and consent that all information provided by you, your JobStreet.com Profile, resume, and/or account information may be transferred to countries outside of your location for the purposes of storing and/or processing. Please see JobStreet.com’s Privacy Policy, for further details.

By submitting, posting or displaying User Content on or through JobStreet.com Website, you grant JobStreet.com, subject to your privacy setting, a worldwide, non-exclusive, royalty-free license to reproduce, adapt, distribute and publish such User Content through JobStreet.com Website. JobStreet.com will discontinue this licensed use within a commercially reasonable period after such User Content is removed from JobStreet.com Website. JobStreet.com reserves the right to refuse to accept, post, display or transmit any User Content in its sole discretion.

If you post User Content in any public area of any JobStreet.com Website, you also permit any User to access, view, store and reproduce such User Content for personal use.

JobStreet.com may review and remove any User Content that, in its sole judgment, violates these Terms, violates applicable laws, rules or regulations, is abusive, disruptive, offensive or illegal, or violates the rights of, or harms or threatens the safety of, Users of any JobStreet.com Website. JobStreet.com reserves the right to expel Users and prevent their further access to the JobStreet.com Website and/or use of JobStreet.com Services for violating the Terms or applicable laws, rules or regulations. JobStreet.com may take any action with respect to User Content that it deems necessary or appropriate in its sole discretion if it believes that such User Content could create liability for JobStreet.com, damage JobStreet.com’s brand or public image, or cause JobStreet.com to lose Users.

JobStreet.com does not represent or guarantee the truthfulness, accuracy, or reliability of User Content, derivative works from User Content, or any other communications posted by Users nor does JobStreet.com endorse any opinions expressed by Users. You acknowledge that any reliance on material posted by other Users will be at your own risk.

Payment of fees
All amounts owed to JobStreet.com must be paid within the specified payment terms from the date of the invoice.

JobStreet.com may charge interest at 8% per annum on any late payment.

Advertisers shall be liable for full payment of fees from the commencement of the contracts and/or sales orders. Payment must be made notwithstanding any errors or omissions in the advertisements.

All prices quoted are exclusive of any applicable taxes unless specifically noted otherwise.

JobStreet.com’s right to suspend or cancel your registration
We may suspend or cancel your registration immediately at our reasonable discretion or if you breach any of your obligations under these Terms.

You can cancel your registration at any time by informing us in writing here. If you do so, you must stop using the JobStreet.com Website.

The suspension or cancellation of your registration and your right to use the JobStreet.com Website shall not affect either party’s statutory rights or liabilities.

Term and Termination
These Terms will remain in full force and effect while you are a user of any JobStreet.com Website.

JobStreet.com reserves the right, at its sole discretion, to pursue all of its legal remedies, including but not limited to removal of your User Content from the JobStreet.com Website and immediate termination of your registration with or ability to access the JobStreet.com Website and/or any other services provided to you by JobStreet.com, upon any breach by you of these Terms or if JobStreet.com is unable to verify or authenticate any information you submit to a JobStreet.com Website registration.

Even after you are no longer a User of the JobStreet.com Website, certain provisions of these Terms will remain in effect, including Sections 5, 13, 15, 16, 17 and 20, inclusive.

JobStreet.com’s liability
JobStreet.com Website and JobStreet.com Services act as, among other things, venues for:-

Employers or their agents to post job opportunities and search for and evaluate job candidates;

candidates to post JobStreet.com Profiles and resumes and search for and evaluate job opportunities; and

Advertisers to post their advertisements.

JobStreet.com does not screen or censor the listings, including JobStreet.com Profiles offered. JobStreet.com is not involved in the actual transaction between employers and candidates. As a result, JobStreet.com is not responsible for User Content, the quality, safety or legality of the jobs or JobStreet.com or resumes posted, the truth or accuracy of the listings, the ability of employers to offer job opportunities to candidates or the ability of candidates to fill job openings and JobStreet.com makes no representations about any jobs, JobStreet.com Profiles, resumes or User Content on the JobStreet.com Website.

JobStreet.com reserves the right in its sole discretion to remove any User Content including but not limited to JobStreet.com Profiles, Company Profiles, Employer Materials, or other material from the JobStreet.com Website from time to time. When JobStreet.com exercises this discretion and there is a breach of these Terms by the User, any payment made by the User will be forfeited.

The JobStreet.com Website also provides content from other internet sites or resources and while JobStreet.com tries to ensure that material included on the JobStreet.com Website is correct, reputable and of high quality, it does not make any warranties or guarantees in relation to that content. If JobStreet.com is informed of any inaccuracies in the material on the JobStreet.com Website we will attempt to correct the inaccuracies as soon as we reasonably can.

Note that there are risks, including but not limited to the risk of physical harm, of dealing with strangers, underage persons or people acting under false pretenses. You assume all risks associated with dealing with other users with whom you come in contact through the JobStreet.com Website. By its very nature other people’s information may be offensive, harmful or inaccurate, and in some cases will be mislabeled or deceptively labeled. We expect that you will use caution and common sense when using the JobStreet.com Website.

JobStreet.com Website and JobStreet.com Content may contain inaccuracies or typographical errors. JobStreet.com makes no representations about the accuracy, reliability, completeness, or timeliness of any JobStreet.com Website or the JobStreet.com Content. The use of all JobStreet.com Website and the JobStreet.com Content is at your own risk.

Nothing on JobStreet.com Website shall be considered an endorsement, representation or warranty with respect to any User or third party, whether in regards to its web sites, products, services, hiring, experience, employment or recruiting practices, or otherwise.

If we are in breach of these Terms, we will only be responsible for any losses that you suffer as a direct result and to the extent that they are a foreseeable consequence to both of us at the time you use the JobStreet.com Website. Our liability shall not in any event include business losses such as lost data, lost profits or business interruption.

The aggregate liability by JobStreet.com to you for all claims arising from your use of JobStreet.com Website and/or JobStreet.com Services shall be limited to the amount of the existing package fee subscribed to and paid by you and operative at that time, or in the event you are a Candidate, shall be limited to RM100.

Disclaimers
JobStreet.com shall not be liable for any loss of information howsoever caused as a result of any interruption, suspension or termination of JobStreet.com Services or for JobStreet.com Content, accuracy or quality of information available or transmitted through JobStreet.com Services.

You acknowledge and agree that it is not JobStreet.com’s policy to exercise editorial control over and to edit or amend any data or contents of any emails or posting or any information that may be inserted or made available or transmitted to or from a third party in or through JobStreet.com Website and/or JobStreet.com Services.

Third Party Website
As a convenience to customers, the JobStreet.com Website includes links to other web sites or material which are beyond its control. JobStreet.com is not responsible for content on any site outside the JobStreet.com Website.

Advertising and Sponsorship Policy
Part of the JobStreet.com Website may contain advertising and sponsorship. Advertisers and sponsors are responsible for ensuring that material submitted for inclusion on the JobStreet.com Website complies with relevant laws and codes.

JobStreet.com reserves the right to refuse to run any advertisements that, in JobStreet.com sole discretion, are not suitable for publication on any of the JobStreet.com Website.

JobStreet.com will not be responsible to you for any error or inaccuracy in advertising and sponsorship material.

Indemnity
You agree to defend, indemnify, and hold harmless JobStreet.com, and its affiliates, and their respective officers, directors, employees, and agents, from and against any claims, actions or demands, including without limitation reasonable legal and accounting fees, alleging or resulting from:-

any User Content or other material you provide to any JobStreet.com Website;

Your use of any JobStreet.com Content; or

Your breach of these Terms.

JobStreet.com shall provide notice to you promptly of any such claim, suit or proceeding.

Refund
Any refund of payment made to JobStreet.com shall be at the sole discretion of JobStreet.com.

Applicable Law
These Terms will be subject to the laws of Singapore.

We will try to solve any disagreements quickly and efficiently. If you are not happy with the way we deal with any disagreement and you want to take court proceedings, you must do so within Singapore.

International Use
We make no promise that materials on the JobStreet.com Website are appropriate or available for use in your location, and accessing the JobStreet.com Website from territories where its contents are illegal or unlawful is prohibited. If you choose to access this JobStreet.com Website from your location, you do so on your own initiative and are responsible for compliance with local laws.

Miscellaneous
You may not transfer any of your rights under these Terms to any other person. We may transfer our rights under these Terms to another business where we reasonably believe your rights will not be affected.

If you breach these Terms and JobStreet.com chooses to ignore this, JobStreet.com will still be entitled to use its rights and remedies at a later date or in any other situation where you breach the Terms.

JobStreet.com shall not be responsible for any breach of these Terms caused by circumstances beyond its reasonable control.

If any of these Terms shall be found by any court or administrative body of competent jurisdiction to be invalid or unenforceable, the invalidity or unenforceability of such provision shall not affect the other provisions of these Terms and all provision not affected by such invalidity or unenforceability shall remain in full force and effect.

General
The JobStreet.com Website is owned and operated by JobStreet.com Pte Ltd.

If you have any queries please contact us here

Notices to JobStreet.com should be sent to the address listed on JobStreet.com Website.

We will send notice to you at the address submitted by you or to such other address as JobStreet.com reasonably determines is an appropriate address for you.
</div>
</div>
